.t-all {
    transition: all .15s ease;
}

.loader {
    border: 1.25rem solid #E2E8F0; /* Light grey */
    border-top: 1.25rem solid #4299E1; /* Blue */
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
    font-size: 12rem;
    color: #E53E3E;
}
